.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 63.6218px;
  height: 68.1679px;
  align-items: flex-start;
}
.vector {
  position: absolute;
  left: -2.9541%;
  right: 0%;
  top: 0;
  bottom: 1.3585%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
